<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <style>
      .item {
        position: relative;
        float: left;
        margin: 0 0 10px 10px;
      }
      .missing {
        opacity: 0.1;
      }
    </style>
    <script>
      function switchCharacter(url) {
        document.location = url;
      }
    </script>
  </head>
  <body>
    <div>
      {{.User}}
      &mdash;
      <a href="/emblems?c={{.CurrentCharacter}}">Emblems</a>
      &bullet;
      <a href="/shaders?c={{.CurrentCharacter}}">Shaders</a>
      &bullet;
      <a href="/ships?c={{.CurrentCharacter}}">Ships</a>
      &bullet;
      <a href="/sparrows?c={{.CurrentCharacter}}">Sparrows</a>
      &bullet;
      <a href="/emotes?c={{.CurrentCharacter}}">Emotes</a>
      &bullet;
      <a href="/weapons?c={{.CurrentCharacter}}">Weapons</a>
      &bullet;
      <a href="/armor?c={{.CurrentCharacter}}">Armor</a>
      &mdash;
      <select onchange="switchCharacter(this.value)">
        {{range .Characters}}
        <option value="{{.URL}}" {{if .Current}}selected="selected"{{end}}>{{.Class}}</option>
        {{end}}
      </select>
    </div>
    {{range .Categories}}
    <h1>{{.Title}}</h1>
    {{range .Items}}
    <img src="{{.Icon}}" title="{{.Description}}" class="item{{if .Missing}} missing{{end}}"/>
    {{end}}
    <br style="clear: both;" />
    {{end}}
  </body>
</html>
