<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <style>
      .item {
        position: relative;
        float: left;
        margin: 0 0 10px 10px;
      }
      .owned {
        filter: grayscale(100%);
      }
      .item h2 {
        color: lightgreen;
        margin: 0 0 10px 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 8em;
        transform: translate(-50%, -50%);
      }
    </style>
    <script>
      function switchCharacter(url) {
        document.location = url;
      }
    </script>
  </head>
  <body>
    <div>
      {{.User}}
      &mdash;
      <a href="/emblems?c={{.CurrentCharacter}}">Emblems</a>
      &bullet;
      <a href="/shaders?c={{.CurrentCharacter}}">Shaders</a>
      &bullet;
      <a href="/ships?c={{.CurrentCharacter}}">Ships</a>
      &bullet;
      <a href="/sparrows?c={{.CurrentCharacter}}">Sparrows</a>
      &bullet;
      <a href="/emotes?c={{.CurrentCharacter}}">Emotes</a>
      &bullet;
      <a href="/weapons?c={{.CurrentCharacter}}">Weapons</a>
      &bullet;
      <a href="/armor?c={{.CurrentCharacter}}">Armor</a>
      &mdash;
      <select onchange="switchCharacter(this.value)">
        {{range .Characters}}
        <option value="{{.URL}}" {{if .Current}}selected="selected"{{end}}>{{.Class}}</option>
        {{end}}
      </select>
    </div>
    {{range .Categories}}
    <h1>{{.Title}}</h1>
    {{range .Items}}
    <div class="item">
      <img src="{{.Icon}}" title="{{.Description}}" {{if .Owned}} class="owned" {{end}}/>
      {{if .Owned}}
      <h2 title="{{.Description}}">&check;</h2>
      {{end}}
    </div>
    {{end}}
    <br style="clear: both;" />
    {{end}}
  </body>
</html>
